---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import qr_group from "@assets/images/qr_group.jpg";
import BookBentoCard from "./ui/BookBentoCard.astro";
import { links } from "@/data/constants";
import axios from "axios";

interface Props {
  book: CollectionEntry<"books">;
}
const { book } = Astro.props;

// const { phrase, author } = (
//   await axios.get("https://frasedeldia.azurewebsites.net/api/phrase")
// ).data;
---

<section>
  <div class="flex min-h-screen w-full items-center justify-center">
    <div
      class="grid min-h-screen w-full gap-2 sm:gap-4 p-2 grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 grid-rows-[repeat(6,1fr)] sm:grid-rows-4 md:grid-rows-3 shadow-md bg-black"
    >
      <div class="col-span-2 row-span-1 sm:row-span-2 card">
        <p class="text-2xl mb-4">Libro de la Semana</p>
        <BookBentoCard book={book} />
      </div>

      <!-- Próxima reunión -->
      <div
        class="col-span-2 sm:col-span-1 row-span-1 card flex flex-col items-center justify-center"
      >
        <lord-icon
          src="https://cdn.lordicon.com/warimioc.json"
          trigger="hover"
          delay="3000"
          class="size-16"
        >
        </lord-icon>
        <div class="text-lg font-semibold">Próxima reunión</div>
        <div class="text-base">Viernes, 12:30 p.m.</div>
      </div>

      <!-- Frase del día -->
      <div class="col-span-2 row-span-1 card flex items-center space-x-4">
        <!-- Contenido de la cita -->
        <div>
          <p class="text-lg font-semibold text-gray-900">
            <!-- "{phrase}" -->
            frase
          </p>
          <!-- <p class="mt-2 text-gray-500">- {author}</p> -->
          <p class="mt-2 text-gray-500">- autor</p>
        </div>
      </div>

      <!-- Únete al club -->
      <div class="col-span-2 sm:col-span-1 row-span-1 card">
        <a
          href={`${links.whatsapp}`}
          target="_blank"
          class="flex flex-col justify-center items-center"
        >
          <p class="text-xl font-bold">Únete al club</p>
          <Image src={qr_group} alt={"Whatsapp group"} class="size-40" />
        </a>
      </div>

      <!-- Últimas 5 lecturas -->
      <div class="col-span-2 row-span-2 md:row-span-3 card">
        <div class="flex gap-2 items-center">
          <lord-icon
            src="https://cdn.lordicon.com/jectmwqf.json"
            trigger="hover"
            colors="primary:#121331,secondary:#90aacf"
            class="size-12"
          >
          </lord-icon>
          <p class="text-2xl">Últimos libros</p>
        </div>
      </div>

      <!-- Cita del día -->
      <div
        class="col-span-2 sm:col-span-3 row-span-1 sm:row-span-2 card flex items-center justify-center"
      >
        <p>Cita del día</p>
      </div>
    </div>
  </div>
</section>
