---
import Meta from "@components/Meta.astro";
import { SITE } from "@data/constants";
import "../styles/fonts.css";
import "../styles/global.css";
import { Toaster } from "@/components/ui/shadcn/Toaster";
import Navbar from "@/components/ui/Navbar";
import Header from "@/components/Header.astro";

const {
  title = SITE.title,
  meta,
  structuredData,
  lang = "es-PE",
} = Astro.props;

interface Props {
  title?: string;
  meta?: string;
  structuredData?: object;
  lang?: string;
}
const currentPath = Astro.url.pathname;
---

<!doctype html>
<html lang={lang}>
  <head>
    <Meta meta={meta} structuredData={structuredData} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar client:only currentPath={currentPath} />
    <Header />
    <main aria-label="Main content">
      <slot />
    </main>
    <Toaster client:load />
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
  </body>
</html>
